<!-- ///////////////////// Begin Footer /////////////////////// -->
<footer id="footer" class="container-fluid mt-5">

    <!-- Title row -->
    <div class="row">
        <div class="col text-center">
            <h3 class="text-light py-4">Frequently Asked Questions</h3>
        </div>
    </div>

    <!-- FAQ accordions row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="accordion mb-4" id="footer-accordion-1">
                <!-- Card 1 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-1">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-1">
                                Question 1
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-1" class="collapse" data-parent="#footer-accordion-1">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                </div>
                <!-- End of card 1 -->

                <!-- Card 2 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-2">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-2">
                                Question 2
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-2" class="collapse" data-parent="#footer-accordion-1">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                </div>
                <!-- End of card 2 -->

                <!-- Card 3 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-3">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-3">
                                Question 3
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-3" class="collapse" data-parent="#footer-accordion-1">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                    <!-- End of card 3 -->
                </div>
            </div>
            <!-- End of col -->
        </div>

        <div class="col-lg-4 col-md-5 col-sm-6 pb-4">
            <div class="accordion mb-4" id="footer-accordion-2">
                <!-- Card 1 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-4">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-4">
                                Question 4
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-4" class="collapse" data-parent="#footer-accordion-2">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                </div>
                <!-- End of card 1 -->

                <!-- Card 2 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-5">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-5">
                                Question 5
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-5" class="collapse" data-parent="#footer-accordion-2">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                </div>
                <!-- End of card 2 -->

                <!-- Card 3 -->
                <div class="card border-0">
                    <div class="card-header bg-secondary py-2" id="faq-6">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link text-light font-italic" type="button" data-toggle="collapse"
                                data-target="#collapse-faq-6">
                                Question 6
                            </button>
                        </h5>
                    </div>
                </div>

                <div id="collapse-faq-6" class="collapse" data-parent="#footer-accordion-2">
                    <div class="card-body text-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </div>
                    <!-- End of card 3 -->
                </div>
                <!-- End of accordion -->
            </div>
            <!-- End of col -->
        </div>
        <!-- End of row -->
    </div>

    <div class="row">
        <div class="col pb-4">
            <p class="text-center text-light">Copyright &copy;
                <span id="year"></span>2019 Tutor Scheduler</p>
        </div>
    </div>
</footer>
<!-- ///////////////////// End Footer /////////////////////// -->