{{#if success_msg}}
<div class="col-lg-3 col-lg-4 col-md-5 col-sm-7 col-10 alert alert-success align-self-center text-center">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="col-lg-3 col-lg-4 col-md-5 col-sm-7 col-10 alert alert-danger align-self-center text-center">{{error_msg}}</div>
{{/if}}

{{#if loginMessage}}
<div class="col-lg-3 col-lg-4 col-md-5 col-sm-7 col-10 alert alert-danger align-self-center text-center">{{loginMessage}}</div>
{{/if}}