{{#if success_msg}}
<div class="alert alert-success text-center">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger text-center">{{error_msg}}</div>
{{/if}}

{{#if loginMessage}}
<div class="alert alert-danger text-center">{{loginMessage}}</div>
{{/if}}