<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    {{> _navbar}}
    <div class="w-25 mx-auto">
        {{> _msg}}
        {{> _errors}}
    </div>

    {{{body}}}

    {{> _footer}}

</body>

</html>