<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/schedule-session.css">
    <link rel="stylesheet" href="../public/css/main.css">

    <title>Tutor Scheduler</title>
</head>

<body>
    <!-- ///////////////////// Beginning of subjects accordion section //////////////////////// -->
    <section id="subjects-accordion">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-lg-5 col-md-6 col-sm-8 px-2">
                    <h4 class="text-center py-3">Welcome to NNMC Tutor Scheduler!
                        <br>Choose subject to begin</h4>
                    <!-- Accordian shows subjects available to choose from -->
                    <div class="accordion mx-auto shadow-lg border border-secondary rounded" id="accordionExample">
                        <!-- MATH collapsable card-->
                        <div class="card text-center">
                            <div class="card-header text-center">
                                <h5 class="mb-0">
                                    <button id="math-btn" class="btn btn-link font-weight-bold text-dark" type="button"
                                        data-toggle="collapse" data-target="#collapseOne">
                                        Math <span class="badge ml-2 badge-primary">{{mathCount}}</span>
                                    </button>
                                </h5>
                            </div>

                            <!-- Collapsable list of MATH courses available for tutoring help -->
                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">

                                <div id="math-tutors" class="card card-body">
                                    <h5 class="mb-3">Choose a tutor</h5>

                                </div>
                            </div>
                        </div>

                        <div class="card text-center">
                            <div class="card-header text-center">
                                <h5 class="mb-0">
                                    <button id="science-btn" class="btn btn-link collapsed font-weight-bold text-dark"
                                        type="button" data-toggle="collapse" data-target="#collapseTwo">
                                        Science <span class="badge ml-2 badge-primary">{{scienceCount}}</span>
                                    </button>
                                </h5>
                            </div>
                            <!-- Collapsable list of SCIENCE courses available for tutoring help -->
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">

                                <div id="science-tutors" class="card card-body">
                                    <h5 class="mb-3">Choose a tutor</h5>

                                </div>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header text-center">
                                <h5 class="mb-0">
                                    <button id="engineering-btn"
                                        class="btn btn-link collapsed font-weight-bold text-dark" type="button"
                                        data-toggle="collapse" data-target="#collapseThree">
                                        Engineering <span class="badge ml-2 badge-primary">{{engineeringCount}}</span>
                                    </button>
                                </h5>
                            </div>


                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div id="engineering-tutors" class="card card-body">
                                    <h5 class="mb-3">Choose a tutor</h5>

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header text-center">
                                <h6 class="mb-0">
                                    <button id="business-btn" class="btn btn-link collapsed font-weight-bold text-dark"
                                        type="button" data-toggle="collapse" data-target="#collapseFour">
                                        Business <span class="badge ml-2 badge-primary">{{businessCount}}</span>
                                    </button>
                                </h6>

                            </div>

                            <div id="collapseFour" class="collapse text-center" data-parent="#accordionExample">
                                <div id="business-tutors" class="card card-body">
                                    <h5 class="mb-3">Choose a tutor</h5>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End of accordion col-->
                </div>
                <!-- End of row-->
            </div>
            <!-- End of container-->
        </div>
    </section>
    <!-- ///////////////////// End of subjects accordion section //////////////////////// -->

    {{!-- CDNs --}}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script id="schedule-session-script" src="/public/js/main.js"></script>
</body>

</html>