<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <link rel="stylesheet" href=""> --}}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Tutor Scheduler</title>
</head>

<body>


    <!-- Accordian shows subjects available to choose from -->
    <div class="accordion w-50 mx-auto mt-5" id="accordionExample">
        <!-- MATH collapsable card-->
        <div class="card text-center">
            <div class="card-header text-center" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Math
                    </button>
                </h5>
            </div>


            <!-- Collapsable list of MATH courses available for tutoring help -->
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <h5 class="mt-3 mb-0">Choose math level needed</h5>

                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            100<span class="badge badge-primary badge-pill">8</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            130<span class="badge badge-primary badge-pill">6</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            145<span class="badge badge-primary badge-pill">2</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            150<span class="badge badge-primary badge-pill">5</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            162<span class="badge badge-primary badge-pill">3</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">MATH
                            163<span class="badge badge-primary badge-pill">3</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header text-center" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Science
                    </button>
                </h5>
            </div>
            <!-- Collapsable list of SCIENCE courses available for tutoring help -->
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <h5 class="mt-3 mb-0">Choose science level needed</h5>

                <div class="card-body w-75 mx-auto">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                            data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">SCIENCE
                            100<span class="badge badge-primary badge-pill">8</span></a>

                        <div class="collapse w-75 mx-auto" id="collapseExample">
                            <div class="card card-body w-auto mx-auto">
                                <h5 class="mb-3">Choose a tutor</h5>

                                <a href="/schedule-session" class="text-secondary">Bob Smith</a>
                                <a href="#" class="text-secondary">Jane Doe</a>
                                <a href="#" class="text-secondary">Shaun Mendoza</a>
                                <a href="#" class="text-secondary">Alex Jacks</a>
                                <a href="#" class="text-secondary">Roman Padilla</a>
                                <a href="#" class="text-secondary">John Doe</a>
                            </div>
                        </div>

                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">SCIENCE
                            130<span class="badge badge-primary badge-pill">6</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">SCIENCE
                            145<span class="badge badge-primary badge-pill">2</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">SCIENCE
                            150<span class="badge badge-primary badge-pill">5</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">SCIENCE
                            162<span class="badge badge-primary badge-pill">3</span></a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">SCIENCE
                            163<span class="badge badge-primary badge-pill">3</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Engineering
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a
                    bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo.
                    Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                    VHS.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header text-center" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        Writing
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a
                    bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo.
                    Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                    VHS.
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="../app.js"></script>
</body>

</html>