<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/signup-login.css">

    <title>Admin Create Tutor</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-7 col-sm-9 shadow-lg border border-secondary rounded p-4">
                <form action="/users/admin/create-tutor" method="POST">
                <div class="form-row text-center">
                    <h2 class="col mb-4">Create Tutor</h2>
                </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bannerId">Banner ID: </label>
                            <input id="banner_id" class="form-control" type="text" name="bannerId" placeholder="12345">
                        </div>

                        <div class="form-group col">
                            <label for="firstName">First Name: </label>
                            <input id="first_name" class="form-control" type="text" name="firstName" placeholder="John">
                        </div>

                        <div class="form-group col">
                            <label for="lastName">Last Name: </label>
                            <input id="last_name" class="form-control" type="text" name="lastName" placeholder="Doe">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">Email: </label>
                            <input id="email" class="form-control" type="email" name="email"
                                placeholder="tutor@example.com">
                        </div>

                        <div class="form-group col">
                            <label for="password">Password: </label>
                            <input id="password" class="form-control" type="password" name="password"
                                placeholder="Enter Password">
                        </div>
                    </div>

                    <div class="form-row text-center my-3">
                        <h5 class="col">What subjects can tutor help students with?</h5>
                    </div>
                    
                    {{!-- Subject checkbox row --}}
                    <div class="form-row mb-3">
                        <div class="form-group col">
                            <div class="form-check">
                                <input id="mathCheck" class="form-check-input" type="checkbox" name="math">
                                <label class="form-check-label" for="math">
                                    Math
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input id="scienceCheck" class="form-check-input" type="checkbox" name="science">
                                <label class="form-check-label" for="science">
                                    Science
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input id="englishCheck" class="form-check-input" type="checkbox" name="english">
                                <label class="form-check-label" for="english">
                                    English
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input id="historyCheck" class="form-check-input" type="checkbox" name="history">
                                <label class="form-check-label" for="history">
                                    History
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input id="engineeringCheck" class="form-check-input" type="checkbox"
                                    name="engineering">
                                <label class="form-check-label" for="engineering">
                                    Engineering
                                </label>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="form-check">
                                <input id="businessCheck" class="form-check-input" type="checkbox" name="business">
                                <label class="form-check-label" for="business">
                                    Business
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="form-row justify-content-center">
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
            {{!-- End of col --}}
        </div>
        {{!-- End of row --}}
    </div>
    {{!-- End of container-fluid --}}
    </div>

    {{!-- CDNs --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>