<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/signup-login.css">

    <title>Admin</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-md-7 col-sm-9 shadow-lg border border-secondary rounded p-4">
                <form action="/users/admin/set-schedule" method="POST">
                    <h2 class="text-center mb-4">Schedule Time Slot</h2>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bannerId">Tutor banner ID: </label>
                            <input id="banner_id" class="form-control" type="text" name="bannerId"
                                placeholder="Ex. 12345">
                        </div>

                        <div class="form-group col">
                            <label for="dayOfWeek">Day:</label>
                            <select name="dayOfWeek" class="form-control" id="day-select">
                                <option selected>Choose...</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>


                    </div>

                    <div class="form-row mb-4">
                        <div class="form-group col">
                            <label for="startTime">Start time: </label>
                            <input id="start-time" class="form-control" type="time" name="startTime" value="07:00">
                        </div>

                        <div class="form-group col">
                            <label for="subject">Subject:</label>
                            <select name="subject" class="form-control" id="subject-select">
                                <option selected>Choose...</option>
                                <option value="Math">Math</option>
                                <option value="Science">Science</option>
                                <option value="English">English</option>
                                <option value="Engineering">Engineering</option>
                                <option value="Writing">Writing</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="col-5">

                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>

    {{!-- CDNs --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>